[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
django-filter = "*"
model-mommy = "*"

[requires]
python_version = "3.8"
